body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #222222;
	margin: 30px 0 0 0;
}
section{
	padding: 50px;
}
.first{
	background: black;
}
section.header{
	background: white;
	padding: 0 50px 20px 50px;
}
h1{
	font-size: 40px;
	font-weight: 600;
	color: #222222;
	margin: 0px;
}
a{
	text-decoration: underline;
	font-weight: 400;
	font-size: 18px;
}
p{
	font-family: "Times", sans-serif;
	line-height:22px;
	max-width: 50%;
}
span{
	font-weight: 600;
	font-size: 18px;
	margin-left: 5px;
}
.points{
	display:block;
	color: #ffffff;
	margin-top: 20px;

}
.points2{
	display: block;
	color: #000000;
	margin-top: 20px;
}
img{
	margin-top: 20px;
}
.full{
	width:90%;
}
.bloglovin{
	color: #ffffff;
}
.header-top{
	display: inline;
}
.header-bottom{
	display: inline;
}
.platform{
	margin-top: 50px;
}
.thesis{
	background: #0c36d1;
}
.translations{
	background: #16da60;
}
.lg_link{
	color: #ffffff;
	font-size: 40px;
	font-weight: 600;
	text-decoration: none;
}
.lg_link:hover{
	color: #ddd;
	text-decoration: underline;
}
.sm_link{
	color: #ffffff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.sm_link:hover{
	color: #ddd;
	text-decoration: underline;
}
.sm_link2{
	color: #000000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.sm_link2:hover{
	color: #ddd;
	text-decoration: underline;
}
.lg_link2{
	color: #000000;
	font-size: 40px;
	font-weight: 600;
	text-decoration: none;
}
.lg_link2:hover{
	color: #777;
	text-decoration: underline;
}